:root {
    --vp-home-hero-name-color: rgb(65, 103, 42);
    --vp-c-brand-1: rgb(65, 103, 42);
    --vp-button-brand-border: rgb(65, 103, 42);
    --vp-button-brand-bg: rgb(65, 103, 42);
    --vp-button-brand-hover-border: rgb(80, 130, 60);
    --vp-button-brand-hover-bg: rgb(80, 130, 60);
}
